@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{ViewData["Title"] = "Home Page";}

<!-- Standard greeting -->
@if (!SignInManager.IsSignedIn(User))
{
    <section class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Feel free to browse through all our products.</p>
        <p>If you are new to this website please register, otherwise login.</p>
    </section>
}

<!-- User details -->
@if (SignInManager.IsSignedIn(User))
{
    <section>
        <h1>You are now signed in!</h1>
        <h3>Now you can do authorized actions, such as:</h3>
        
        <hr />
        
        <dl>
            <h4>For products</h4>
            <dt class="col-6 col-md-2">Post</dt>
            <dt class="col-6 col-md-2">Edit</dt>
            <dt class="col-6 col-md-2">Delete</dt>
        </dl>

        <dl>
            <h4>For cart</h4>
            <dt class="col-6 col-md-2">Put in a product</dt>
            <dt class="col-6 col-md-2">Remove a product</dt>
            <dt class="col-6 col-md-2">Buy products</dt>
        </dl>

        <dl>
            <h4>For Comments</h4>
            <dt class="col-6 col-md-2">Create</dt>
            <dt class="col-6 col-md-2">Edit</dt>
            <dt class="col-6 col-md-2">Delete</dt>
        </dl>
        
        <h5>Hope you will enjoy Second</h5>
        
    </section>
}